body {
margin-bottom: 80px;
}

.page-header{
	margin-top: 0;
}
.panel-body{
	padding-top: 0;
}
.featuredImg{
	margin-bottom: 15px;
	width: 100%;
}

.boxes
{
	box-shadow: 0px 0px 10px rgba(0,0,0,4) ;
		background-color: #D9D9D9;
		
}

.retraso-1
{
	-webkit-animation-delay:1s;
	-mozanimation-delay:1s;
	animation-delay:1s;
}

.retraso-5
{
	-webkit-animation-delay:.5s;
	-mozanimation-delay:.5s;
	animation-delay:.5s;
}


.retraso-2
{
	-webkit-animation-delay:2s;
	-mozanimation-delay:2s;
	animation-delay:2s;
}


.retraso-3
{
	-webkit-animation-delay:3s;
	-mozanimation-delay:3s;
	animation-delay:3s;
}


.retraso-4
{
	-webkit-animation-delay:4s;
	-mozanimation-delay:4s;
	animation-delay:4s;
}